.head-section {
  background: var(--color-head);
  height: 40vh;
  transition: all 0.3s linear;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  position: relative;
  z-index: var(--z-index-one);
  margin-bottom: 25vh;
}
.head-section__nav {
  color: white;
  padding: 0.5rem;
  z-index: var(--z-index-two);
}
.head-section__board {
  position: absolute;
  padding: 0.5rem;
  bottom: -50%;
  left: 0;
  right: 0;
  margin: 0 1.25rem;
  height: 50vh;
  border-radius: 1rem;
  z-index: var(--z-index-two);
  color: white;
  background-image: url("https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head-section__board h1 {
  font-weight: 700;
  font-size: 4rem;
}
.head-section__board h2 {
  font-weight: 600;
  font-size: 2.5rem;
}
@media screen and (max-width: 780px) {
  .head-section {
    height: 22vh;
    margin-bottom: 13vh;
  }
  .head-section__nav {
    padding: 0.5rem;
  }
  .head-section__board {
    bottom: -50%;
    left: 0;
    right: 0;
    margin: 0 1.25rem;
    height: 26vh;
  }
  .head-section__board h1 {
    font-weight: 600;
    font-size: 3rem;
  }
  .head-section__board h2 {
    font-weight: 500;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .head-section__board h1 {
    font-weight: 500;
    font-size: 2rem;
  }
  .head-section__board h2 {
    font-weight: 500;
    font-size: 1.25rem;
  }
}
