.scoreboard {
  min-height: 100vh;
  background-color: #053742;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ada0c1' fill-opacity='0.26' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: var(--color-white);
}
.scoreboard .trophy {
  width: 12rem;
  min-height: 10rem;
  margin: 2rem 0 1rem 0;
}
.scoreboard h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.scoreboard h3 {
  font-size: 2rem;
}
.scoreboard h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}
.scoreboard .see-solution:hover {
  text-decoration: underline;
}
.scoreboard h1 span:nth-child(2) {
  color: var(--color-questionbg);
}
