.solution__heading {
  text-align: center;
  border-bottom: 2px dashed var(--color-head);
  position: relative;
}
.solution__heading a {
  position: absolute;
  left: 1rem;
  top: 0;
  transform: translateY(50%);
}
.solution__heading h2 {
  padding: 1rem 0;
}

.solution__body {
  margin: 0 auto;
  width: 50rem;
  padding: 1rem 0;
}
.solution__body .question {
  padding: 2rem 0;
  border-bottom: 1px solid var(--color-head);
}
